@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
  text-align: center !important;
}

form {
  margin-bottom: 15px;
}

.poke-type {
  display: inline-block;
  width: 100px;
  height: 30px;
  /* padding: 5px 10px; */
  margin: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  background-color: darkblue;
  text-shadow: rgb(82, 82, 82) 2px 0 6px;
}

.pokeCard {
  height: 500px;
  width: 350px;
  border: 5px solid black;
}

/* ----------------POKESEARCH-------------- */
.search-box {
  margin: 50px auto 40px auto;
}


/* ---------------POKEMON CARD------------- */
.render-pokemon {
  margin: 0 auto 25px auto;
  height: fit-content;
  background-color: whitesmoke;
  border: 6px solid rgb(201, 201, 201);
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 5px #ecebeb;
  box-shadow: 2px 4px 10px 5px #ecebeb;
}

.render-pokemon h3 {
  margin: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.pokeimg-container {
  margin: auto;
  width: 300px;
  max-width: 80%;
  -webkit-box-shadow: 2px 4px 10px 5px #c2c2c2;
  box-shadow: 2px 4px 10px 5px #c2c2c2;
  border-radius: 5px;
}

.render-pokemon img {
  margin: auto;
  border: 6px solid rgb(218, 218, 218);
  border-radius: 5px;
  background: rgb(232, 232, 232);
  background: linear-gradient(45deg, rgba(232, 232, 232, 1) 31%, rgba(255, 255, 255, 1) 50%, rgba(232, 232, 232, 1) 67%);
  max-width: 100%;
  height: auto;
}

.render-pokemon ul {
  margin: 40px auto;
  margin-top: 40px;
  max-width: 275px;
  background-color: rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
}

ul {
  padding-left: 0p !important;
}

/* ---- POKEMON TYPES ----- */

.fire-type {
  background-color: rgb(240, 127, 47);
}

.water-type {
  background-color: rgb(105, 143, 240);
}

.grass-type {
  background-color: rgb(120, 201, 80);
}

.electric-type {
  background-color: rgb(248, 208, 48);
}

.ground-type {
  background-color: rgb(224, 192, 105);
}

.rock-type {
  background-color: rgb(183, 160, 56);
}

.flying-type {
  background-color: rgb(168, 144, 240);
}

.normal-type {
  background-color: rgb(169, 168, 120);
}

.psychic-type {
  background-color: rgb(248, 88, 136);
}

.dark-type {
  background-color: rgb(111, 88, 72);
}

.ghost-type {
  background-color: rgb(112, 87, 152);
}

.dragon-type {
  background-color: rgb(110, 58, 246);
}

.poison-type {
  background-color: rgb(156, 66, 156);
}

.steel-type {
  background-color: rgb(184, 184, 208);
}

.bug-type {
  background-color: rgb(168, 184, 33);
}

.ice-type {
  background-color: rgb(152, 216, 216);
}

.fighting-type {
  background-color: rgb(191, 48, 40);
}

.fairy-type {
  background-color: rgb(237, 154, 172);
}

/* --- header */
.header {
  background-color: red;
  padding-bottom: 7px;
}

/* --- pokeSearch */
.appBody {
  height: 90vh;
}

/* --- pokeCard */
.poke-img {
  max-width: 50%;
  max-height: 50%;
}

/* --- offensive card / defensive card */
li {
  list-style: none;
}

/* --- footer */

.footer {
  width: 100%;
  position: relative;
  bottom: 0%;
  z-index: 5;
  margin-top: auto;
  background-color: black;
  color: white;
}

.custom-icon {
  z-index: 4;
  color: white;
}

.custom-icon:hover {
  opacity: 0.6;
}