.poke-type{
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    text-shadow: rgb(105, 105, 105) 1px 0 5px;
}




















/* ---- POKEMON TYPES ----- */

.fire-type{

}

.water-type{

}

.grass-type{

}

.electric-type{

}

.ground-type{

}

.rock-type{

}

.flying-type{

}

.normal-type{

}

.psychic-type{

}

.dark-type{

}

.ghost-type{

}

.dragon-type{

}

.poison-type{

}

.steel-type{

}

.bug-type{

}

.ice-type{

}

.fighting-type{

}

.fairy-type{

}